.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 250px;
    height: auto;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 60px;
  margin-top: 10px;
}
.btn-div button{
  border-radius: 50px;
  padding: 7px 15px;
  width: 130px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  color: var(--white);
  border: 2px solid linen;
  font-size: 12px;
  background-color: #1f2235;
  border: none;
}
.btn-div button:hover{
  background-color: #FF5823;
}

.container1 {
  position: relative;
  width: 90%;
  height: 70vh;
  /* background-color: #000; */
  display: block;
  margin-top: 80px;
  margin: auto;
  /* border: 1px solid red; */
  overflow: hidden;
}

.container1 .swiper-container {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

@media (max-width: 768px) {
  .container1 .swiper-container {
    bottom: -58vw;
    padding-bottom: 8vw;
  }
}

.title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3vw 0 2vw 0;
}

@media (max-width: 768px) {
  .title_wrapper {
    padding-top: 13vw;
  }
}

@media (max-width: 768px) {
  .title_wrapper .reactLogo {
    width: 25vw;
    height: 25vw;
  }
}
@media (max-width:500px){
  .btn-div{
    margin-top: 0px;
  }
  .btn-div button{
    padding: 7px 7px;
    width: 100px;
  }
}
.title_wrapper .reactLogo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title_wrapper .title_ {
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 2vw;
}

@media (max-width: 768px) {
  .title_wrapper .title_ {
    font-size: 7vw;
  }
}

.title_wrapper .title_ span {
  display: block;
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}

.swiperDiv{
  width: 50%;
  height: 70%;
  border-radius: 10px;
  /* border: 1px solid red; */
  margin-left: 25%;
}
/* .main-div{
  /* border: 1px solid red; */
/* }  */