.main_git{
    max-width: 90%;
    margin: auto;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.child{
    width: 90%;
    border-radius: 30px;
}

.child img{
    width: 100%;
    border-radius: 30px;
}
.gitstat{
    display: flex;
    width: 100%;
    margin-top: 30px;
}



@media screen and (max-width:500px){
    .child{
        display: none;
    }
    .gitstat{
        flex-direction: column;
    }
    .gitstat img{
        width: 100%;
    }
}