.nav-container{
    display: flex;
}
.scroll{
  z-index: 100;
  position:fixed ;
  color: black;
  background-image: url("../../../Assets/Home/bg.jpg");
}
.navbar-parent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 0px 40px;
}
.nav-list{
    display: flex;
}
.nav-list li{
    list-style: none;
    padding: 25px;
    font-size: 20px;
    
}
.nav-list li a{
  color: white;
  list-style: none;
}
.nav-list li:hover{
    cursor: pointer;
    transform: scale(1.07);
    translate: 0.1s ease-out;
}
.nav-icon h3{
    padding: 25px;
}
.toShowHamburger{
  display: none;
}
.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    letter-spacing: 8px;
    text-transform: uppercase;
    animation: flip 2s infinite;
    margin-top: 15px;
  }
  .waviy2 span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: rgb(0, 0, 0);
    letter-spacing: 8px;
    text-transform: uppercase;
    animation: flip 2s infinite;
    margin-top: 15px;
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
@media screen and (max-width:800px){
  .navbar-parent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 0.8rem 40px;
  }
  /* .scroll{
    display: none;
  } */
}


@media screen and (max-width:759px) {
  .nav-list{
    display: none;
  }
  .toShowHamburger{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .waviy span {
    margin-top:0px;
  }
  
}